.hero {
    background-color: #d3eff9;
    padding: 16px;
    position: relative;
}
nav {
    background-color: #6a121b;
    color: #fff;
    padding: 0 24px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 16px;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 16px;
}
.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    margin-left: 450px;
    padding: 24px;

}

.nav-right {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
}

.dropdown{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
   font-weight: 500;
}

.user-pic-small {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}